version: '3.8'

services:
  websocket-server:
    build: .
    volumes:
      - .:/var/www/html
    ports:
      - "8080:8080"
    command: php bin/server.php
    depends_on:
      - redis
    networks:
      - backend

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - backend

networks:
  backend:
    name: backend
